/* Global Styles */
body {
  font-family: 'Century Gothic', monospace;
  background-color: #1c1c1c;
  color: #f27386;
  margin: 0;
  padding: 0;
  text-shadow: 1px 2px 4px rgba(0,0,0,.3);
}

/* Header Styles */
header {
  background-color: rgba(1, 0, 0, 0.5); /* 設置半透明的黑色背景 */
  padding: 20px;
  text-align: center;
  background-image: url('img/header.jpg'); /* 替換為您的圖像路徑 */
  background-size: cover; /* 將圖像填滿整個header區域 */
  background-position: top; /* 將圖像置中 */
}

header h1, header p {
  color: #f27386;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: #f27386;
text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #f27386;
  font-weight: 700;
}

/* Hero Section Styles */
#hero {
  padding: 50px 20px;
  text-align: center;
}

#hero h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

#hero p {
  margin-bottom: 20px;
}

#hero button {
  background-color: #7c7c7c;
  color: #1c1c1c;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

/* Features Section Styles */
#features {
  padding: 50px 20px;
  text-align: center;
}

#features h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#features ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#features li {
  margin-bottom: 10px;
}

/* Gallery Section Styles */
#gallery {
  padding: 50px 20px;
  text-align: center;
}

#gallery h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.gallery-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

/* join Section Styles */
#join {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#join h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#join div{
  width:300;
  text-align: left;
}

/* Footer Styles */
footer {
  background-color: #2a2a2a;
  padding: 20px;
  text-align: center;
  font-size: 14px;
}